@page "/"

@using web_movie_app.Data
@inject AppService appservice
@inject NavigationManager UriHelper

<PageTitle>Index</PageTitle>

<h1>web-movie-app</h1>
<p>
	Enter movie name/person name/tag name:
	<br />
	<br />
	<input @bind="@appservice.searchString" type="text" placeholder="..." />
	<input @onclick="(() => {UriHelper.NavigateTo(surl + appservice.searchString, true);})" type="button" value="search" />
</p>

@if (top10List.Count != 0)
{
	@foreach (Movie m in top10List)
	{
		/*if (m.titles.Count == 0)
			continue;*/
		<table class="table">
			<tbody style="border: thin">
				<tr>
					<th width="8%">
						<img src="@top10Data[m.imdbId].imageurl" width="100" onerror="this.error=null; this.src='sonic.png';" />
					</th>
					<th>
						<a href="@(murl + m.imdbId)">
							@m.titles.First().title
						</a>
						<small>imdb id: @m.imdbId</small>
						<br>
						<br />
						<small>Rating: @m.rating</small>
						<br>
						<br />
						<p style="overflow: hidden; max-width: 110ch; text-overflow: ellipsis; white-space: nowrap;">@top10Data[m.imdbId].plot</p>
					</th>
				</tr>
			</tbody>
		</table>
	}
} else
{
	<p><em>Loading...</em></p>
}


@code {
	private string surl = "/search/";
	private string murl = "/movie/";

	[Parameter]
	public List<Movie> top10List { get; set; } = new();
	public Dictionary<string, MovieData> top10Data { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		if (appservice.topMovieList.Count == 0)
		{
			await appservice.GetTop10(); 
		}
		top10List = appservice.topMovieList;
		top10Data = appservice.topMovieData;
	}
}
